######## / Ignore Terraform binary
**/terraform

######## / Ignore Terraform state
**/.terraform
**/*.tfstate
**/*.lock.info
**/*.lock
**/*.tfstate.backup
**/*.tfvars
**/*.hcl
**/terraform.tfstate.d

######## / Ignore SSH Keys
**/SSH-Keys/*

######## Ignore dynamically-generated Ansible inventory
**/*ansible-inventory.yml

######## Ignore various OS files
**/Thumbs.db
**/.swp
