########### / Location
location = "uksouth"

############ / Attacker IP Range
candidate_ip = ["XXX.XXX.XXX.XXX/XX"] # Replace with your IP.
candidate_network = 1

############ / SSH Key
public_key_file_candidate    = "candidate_key.pub"
private_key_file_candidate   = "candidate_key.pem"

############ / Networking
networks = [
    # !!! Internet Facing !!!
    {
        network_id    = "1"
        network_name  = "CANDIDATE_EXTERNAL"
        address_space = ["10.1.1.0/24"]
    }
]

############ / Security Rules
security_rules = [
    {
        network_id                      = 1
        name                            = "1"
        priority                        = 1000
        direction                       = "Inbound"
        access                          = "Allow"
        protocol                        = "*"
        source_port_ranges              = ["0-65535"]
        destination_port_ranges         = ["0-65535"]
        source_address_prefixes         = ["10.1.0.0/16"]
        destination_address_prefixes    = ["10.1.0.0/16"]
    },
    {
        network_id                      = 1
        name                            = "2"
        priority                        = 1000
        direction                       = "Outbound"
        access                          = "Allow"
        protocol                        = "*"
        source_port_ranges              = ["0-65535"]
        destination_port_ranges         = ["0-65535"]
        source_address_prefixes         = ["10.1.0.0/16"]
        destination_address_prefixes    = ["0.0.0.0/0"]
    }
]

############ / Systems
systems = [
    {
        module      = "microsoft_windows_server_2016"
        size        = "Standard_B1ms"
        network_id  = "1"
        hostname    = null
        private_ip  = null
        public_ip   = true
        class       = "GS"
        id          = "01"
        features    = [
            {
                name = "Win_User"
                value = [{name = "LowPriv", password = "Sup3rSecretString.2021!"}]
            },
            {
                name = "Win_Group_Membership"
                value = [{name = "Remote Desktop Users", value = "LowPriv"}]
            }
        ]
    }
]