############ / AWS Credentials
AWS_ACCESS_KEY          = ""
AWS_SECRET_KEY          = ""
AWS_REGION              = "eu-west-2"

############ / Attacker IP Range
# Permitted to SSH and RDP to management network (ID 0) and candidate network (ID 1).
candidate_ip = ["XXX.XXX.XXX.XXX/XX"] # Replace with your IP.

############ / SSH Key
public_key_file_candidate    = "candidate_key.pub"
private_key_file_candidate   = "candidate_key.pem"

############ / Networking
address_space_lab         = "10.1.0.0/16"
address_space_management  = "10.1.254.0/24"

networks = [
    {
        network_id    = "1"
        network_name  = "INTERNAL"
        network_template = "internal_permissive"
        address_space = "10.1.1.0/24"
    },    
    {
        # Exposes RDP and SSH ports to the candidate IP ranges
        network_id    = "2"
        network_name  = "CANDIDATE_EXTERNAL"
        network_template = "candidate"
        address_space = "10.1.2.0/24"
    }
]

security_rules = [
]

############ / Systems
systems = [
    {
        module      = "microsoft_windows_server"
        os_version  = "2022"
        size        = "t2.medium"
        network_id  = "1"
        hostname    = null
        private_ip  = "10.1.1.10"
        public_ip   = false
        class       = "DC"
        id          = "01"
        features    = [
            {
                name = "AD_Forest"
                value = [
                    {name = "domain_name", value = "dynamic.lab"},
                    {name = "domain_netbios_name", value = "dynamic"}
                ]
            },
            {
                name = "AD_User"
                value = [
                    {name = "HighPriv", password = "TheSkyIsTheLimit.2022?"},
                    {name = "LowPriv", password = "Sup3rSecretString.2022!"}
                    ]
            },
            {
                name = "AD_Group_Membership"
                value = [{name = "Domain Admins", value = "HighPriv"}]
            },
            {
                name = "AD_SecEdit_Access"
                value = [
                    {name = "MinimumPasswordAge", value = "0"},
                    {name = "MaximumPasswordAge", value = "9000"},
                    {name = "MinimumPasswordLength", value = "0"},
                    {name = "PasswordComplexity", value = "0"}
                ]
            }
        ]
    },
    {
        module      = "microsoft_windows_server"
        os_version  = "2022"
        size        = "t2.small"
        network_id  = "2"
        hostname    = null
        private_ip  = null
        public_ip   = true
        class       = "GS"
        id          = "01"
        features    = [
            {
                name = "AD_Join"
                value = [
                    {name = "domain_name", value = "dynamic.lab"},
                    {name = "domain_dns_server", value = "10.1.1.10"},
                ]
            },
            {
                name = "Win_Group_Membership"
                value = [{name = "Remote Desktop Users", value = "LowPriv"}]
            }
        ]
    }
]